[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=RunGhosttyDir

[Desktop Action RunGhosttyDir]
Name=Open Terminal
Icon=com.mitchellh.ghostty
Exec=/home/ben.nanson@MITO.org.nz/.local/bin/dolphin-open-ghostty terminal %f

