[Desktop Entry]
Name=Open Pi
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=OpenPi;
X-KDE-Protocols=file

[Desktop Action OpenPi]
Name=Open Pi
Icon=com.mitchellh.ghostty
Exec=dolphin-open-ghostty pi %f
